@import "variables.scss";

.text-update {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.calendar-background {
  padding: 30px;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: $background-box-shadow;
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}

.pink {
  background-color: $primary-color;
  color: white;
  cursor: pointer;
}

.black {
  background-color: black;
  color: azure;
  cursor: pointer;
}

.btn-general {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 15px;
  border-radius: 6px;
  border: none;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.btn-general:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.content p {
  margin-top: 20px;
}

h3 {
  span {
    color: $primary-color;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.control-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: 10px 0;

  .mode,
  .navigation {
    display: flex;
    gap: 10px;
  }

  button {
    height: 35px;
    min-width: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: $anti-primary-color;
    img {
    }
  }
}
