<div class="modal" *ngIf="!isHistory">
  <div class="container-img-forgot">
    <img src="assets/svgs/telecom.svg" alt="" class="img-fluid forgot-img" />
  </div>
  <h1>
    Réservation prévue avec
    <span>{{ reservation.firstname | titlecase }}</span>
  </h1>

  <div class="content">
    <div class="content-resume">
      <h2>Résumé de votre créneau :</h2>
    </div>
    <div class="pop-up-date">
      <img
        class="img-fluid forgot-img"
        src="/assets/svgs/date-slot.svg"
        alt=""
      />

      <h3>
        Date :
        <span>{{
          reservation.dateBegin | date : "dd MMMM yyyy" : "" : "fr"
        }}</span>
      </h3>
    </div>
    <div class="pop-up-date">
      <img
        class="img-fluid forgot-img"
        src="/assets/svgs/duration.svg"
        alt=""
      />

      <h3>
        Heure de début :
        <span>{{ reservation.dateBegin | date : "HH:mm" : "" : "fr" }}</span>
      </h3>
    </div>
    <h3>
      Plus d'information sur la session :
      <span>{{ reservation.subject }}</span>
    </h3>
    <p [innerHTML]="reservation.details"></p>

    <div class="delete-resa">
      <h3>Vous souhaitez annuler cette réservation ?</h3>
    </div>
  </div>

  <div class="control">
    <app-button
      [text]="'Retour'"
      [variant]="'black'"
      (onSubmit)="onCancel.emit()"
    ></app-button>
    <app-button
      [text]="'Annuler la réservation'"
      (onSubmit)="deleteReservation()"
      [variant]="'pink'"
    ></app-button>
  </div>
</div>
