.dashboard-container {
  padding: 20px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
  align-items: center;
}
.search-admin {
  padding: 10px 40px;
}
