@import "variables.scss";
.calendar-background {
  padding: 30px;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: $background-box-shadow;
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}

h3 {
  span {
    color: $primary-color;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.control-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: 10px 0;

  .mode,
  .navigation {
    display: flex;
    gap: 10px;
  }

  button {
    height: 35px;
    min-width: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: $anti-primary-color;
  }
}
